.SliderProduct{
    
    text-align: right;
    .card{
        border: 4px solid #f7f7f7;
        // box-shadow: 0 0 6px 1px hsla(0,0%,60%,.3607843137254902);
        text-align: center;
        background-color: white;
        margin-bottom: 5px;
        padding-bottom: 5px;
        .img_cont{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 60%;
    
            }
        }

    }
}