.AuthLayout{
    width: 65%;
    margin: 0 auto;
    background-color: rgb(250, 250, 250);
    img{
        width: 100%;
        height: 100%;
    }
    .head{
        padding: 24px;
        display: flex;
        .userType{
            cursor: pointer;
            padding: 5px 20px 5px 0px;
        }
        .active{
            h2{
                border-bottom: 5px solid black;
            }
        }
    }
}
.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.col-lg-12 {width: 100%;}
	.col-lg-11 {width: 91.66666667%;}
	.col-lg-10 {width: 83.33333333%;}
	.col-lg-9 {width: 75%;}
	.col-lg-8 {width: 66.66666667%;}
	.col-lg-7 {width: 58.33333333%;}
	.col-lg-6 {width: 50%;}
	.col-lg-5 {width: 41.66666667%;}
	.col-lg-4 {width: 33.33333333%;}
	.col-lg-3 {width: 25%;}
	.col-lg-2 {width: 16.66666667%;}
	.col-lg-1 {width: 8.33333333%;}
}
.myPadding {
	padding: 10px;
}