@import '../../../../App.scss';

.SubAccountsList{
    background-color: #e7e7e7;
    margin: 10px 50px 10px 50px;
    .head_sub {
        padding-bottom: 10px;
        border-bottom: 4px solid #e2e3e6;
    }

}