@import '../../../App.scss';
.PopUpCard{
    direction: rtl;

    .card_image{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 80%;
            }
    }
}