.AddToCart2{
    border-radius: 30px;
    text-align: center;
    background-color: black;
    padding: 10px 0 10px 0;

    .notActive{
        span{
            font-size: 18px;
            color: white;
        }
    }

    .active{
        .increase{
            span{
                font-size: 20px;
                color: white;
            }
        }
        .value{

            input {
                font-size: 20px;
                width: 100%;
                text-align: center;
                border: none;
                outline: none;
                
            }
        }
        .decrease{
            span{
                font-size: 20px;
                color: white;
            }
        }
    }
}