@import '../../../../App.scss';

.UsersList{
    direction: rtl;

    .list {
        border-bottom: 1px solid #f0f3ff;
    }
    .image{
        img{
            width: 30%;
        }
    }
    .option{
        position: relative;
        .modalOption{
            position: absolute;
            top: 30px;
            z-index: 2;
        }
    }

}