.MyCalendar{
    direction: rtl;
    border: 1px solid #f0f3ff;
    max-width: 150px;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
    cursor: pointer;
    .MyCalendar_card{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        span{
            padding: 2px 7px 0 7px;
        }
    }
}

.CalendarModal{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

.ReactCalendar {
  position: absolute;
  top: -150%;
  left: 33%;
  transition: top 0.4s ease-out;

  &.active {
    top: 25%;
  }
}