.SubOrderList{
    .head{
        padding: 10px;
        background-color: #f0f3ff;
    }
    .card{
        padding: 10px;
    }
    .non{
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}